.subMenu {
    text-align: center;
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0.1);
}

.subMenu:hover {
    background-color: var(--comm-bg-sky-blue);
}

a {
    text-decoration: none;
}