.wrapper {
    margin: var(--comm-margin);
    display: flex;
    flex-direction: column;
}

.topWrapper {
    height: 10%;
    margin: var(--comm-margin);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.middleWrapper {
    margin: var(--comm-margin);
    border-radius: var(--comm-border-radius);
    display: flex;
    flex-direction: column; 
}

.bottomWrapper {
    margin: var(--comm-margin);
    border-radius: var(--comm-border-radius);
    display: flex;
    justify-content: center;
}

.button {
    outline: 0;
    background-color: var(--comm-bg-sky-blue);
    border: 2px solid rgba(163, 185, 184, 0.2);
    border-radius: 3px;
}

.border {
    border: 1px solid #ccc;
}