.profileImage {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userIcon {
    color: rgba(212, 213, 212, 0.6);
    width: 80%;
    height: 80%;;
}