.fontStyle {
    font-size: 1.3rem;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputStyle {
    font-family: var(--comm-font-family);
    font-size: 1.8rem;
    background-color: var(--comm-bg-sky-blue);
    border-radius: 5px;
    border: 0;
    outline: 0;
    right: 10%;
    width: 90%;
}

.rowWrapper1 {
    margin-top: 3px;
    margin-bottom: 10px;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rowWrapper2 {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 3px;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.eachTimeWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addWrapper {
    margin-top: 15px;
    background-color: white; 
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}

.eachTime {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.eachTime > span {
    text-align: center;
    width: 45%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.eachTime > button {
    width: 5%;
}

.inputWrapper {
    margin-bottom: 5px;
}

.rowWrapper3 {
    margin-top: 3px;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButtonStyle {
    font-family: var(--comm-font-family);
    height: 50%;
    outline: 0;
    background-color: var(--comm-bg-sky-blue);
    border: 2px solid rgba(163, 185, 184, 0.2);
    border-radius: 3px;
    width: 10%;
    cursor: pointer;
}

.submitButtonStyle {
    font-size: 1.2rem;
    font-family: var(--comm-font-family);
    height: 60%;
    outline: 0;
    background-color: var(--comm-bg-sky-blue);
    border: 2px solid rgba(163, 185, 184, 0.2);
    border-radius: 3px;
    width: 30%;
    cursor: pointer;
}

.closeButtonStyle {
    font-size: 1.2rem;
    font-family: var(--comm-font-family);
    margin-left: 3px;
    height: 60%;
    outline: 0;
    background-color: rgba(238, 139, 154, 1);
    border: 2px solid rgba(163, 185, 184, 0.2);
    border-radius: 3px;
    width: 30%;
    cursor: pointer;
}

.deleteButtonStyle {
    font-family: var(--comm-font-family);
    margin-left: 3px;
    outline: 0;
    background-color: rgba(238, 139, 154, 1);
    border: 2px solid rgba(163, 185, 184, 0.2);
    border-radius: 3px;
    cursor: pointer;
}