.editButton {
    font-family: var(--comm-font-family);
    outline: 0;
    background-color: var(--comm-bg-sky-blue);
    border: 2px solid rgba(163, 185, 184, 0.2);
    border-radius: 3px;
    width: 40%;
}

.logoutButton {
    font-family: var(--comm-font-family);
    outline: 0;
    background-color: rgba(238, 139, 154, 1);
    border: 2px solid rgba(163, 185, 184, 0.2);
    border-radius: 3px;
    width: 40%;
}