.wrapper {
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: 100%;
}

.topWrapper {
    height: 10%;
    margin: var(--comm-margin);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.middleWrapper {
    margin: var(--comm-margin);
    border-radius: var(--comm-border-radius);
    box-shadow: var(--comm-box-shadow);
    border: 1px solid rgba(0, 0, 0, 0.1);;
    display: flex;
}

.searchDetailsWrapper {
    padding: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.searchDetail {
    width: 100%;
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

.searchDetail div {
    width: 20%;
}

.buttonWrapper {
    margin-top: 3px;
    display: flex;
    justify-content: left;
}

.bottomWrapper {
    margin: var(--comm-margin);
    border-radius: var(--comm-border-radius);
    box-shadow: var(--comm-box-shadow);
    border: 1px solid rgba(0, 0, 0, 0.1);;
    display: flex;
    flex-direction: column; 
}

.button {
    outline: 0;
    background-color: var(--comm-bg-sky-blue);
    border: 2px solid rgba(163, 185, 184, 0.2);
    border-radius: 3px;
}

.inputStyle {
    background-color: var(--comm-bg-sky-blue);
    border-radius: 5px;
    border: 0;
    outline: 0;
    height: 95%;
}
