.myRm {
    overflow-y: scroll;
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 100%;
}

.myRmTitle {
    font-size: 1.4rem;
    background-color: white;
}

table {
    width: 100%;
    background-color: rgba(230, 244, 243, 0.3);
    border-radius: 10px;
    border-collapse: collapse;
    font-family: "nom";
    color: rgb(45, 46, 46, 0.8);
}

.head th {
    position: sticky;
    top: 0;
    background-color: rgba(230, 244, 243, 1);
    width: 33%;
}

tbody tr {
    background-color: white;
}

tbody tr:nth-child(2n){ 
    background-color:rgba(230, 244, 243, 0.3);
}

td {
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
    font-size: 1rem;
    text-align: center;
}

.plusButtonWrapper {
    cursor: pointer;
}

.plusButtonWrapper:hover {
    background-color: grey;
}

.plusButton{
    font-family: var(--comm-font-family);
    height: 100%;
    outline: 0;
    background-color: rgba(230, 244, 243, 1);
    border: 2px solid rgba(163, 185, 184, 0.2);
    border-radius: 3px;
    width: 30%;
}

