.wrapper {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 100%;
}

.calWrapper {
    margin: 15px;
}

.calWrapper *::-webkit-scrollbar { display: none !important; }

.calWrapper * {
    overflow-y: hidden !important;
}

.titleWrapper {
    height: 10%;
    margin: var(--comm-margin);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}