section {
  background-color: white;
  overflow-y: hidden;
  position: absolute;
  top: 10%;
  height: 90%;
  width: 100%;
}

nav {
  border-top: 1px solid rgba(124, 129, 135, 0.5);
  position: fixed;
  top: 0;
  height: 10%;
  width: 100%;
}