body {
  overflow-x: hidden;
}

section {
  background-color: white;
  overflow-y: scroll;
  position: absolute;
  left: 10%;
  height: 100%;
  width: 90%;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
}

section::-webkit-scrollbar { display: none; }

nav {
  position: fixed;
  overflow-y: scroll;
  left: 0;
  height: 100%;
  width: 10%;
  background-color: white;
}

nav::-webkit-scrollbar { display: none; }